<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<style>
pre
{
  font-family:Lato;
  font-size:45px;
  color:darkred;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
.lin
{
  font-size: 25px;
}
</style>
</head>
<body>

<b><pre>SEMESTER 1    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTKKzOlnRQ0ngS_ngpEOdgL4HRgDacOOWhScBIx2J2qEWu59msf" height="75" width="100"></pre></b>

<div class="lin">
  <span class="glyphicon glyphicon-hand-right"></span><a href="<span class="glyphicon glyphicon-hand-right"></span><a href="https://it.iiita.ac.in/pdf/btech-cc-and-syl.pdf">Syllabus</a>
<br><br>
<span class="glyphicon glyphicon-hand-right"></span><a href="http://web.pdx.edu/~pmoeck/lectures/beiser%206.pdf">Physics 1    (A. Bieser)</a>
<br><br>
<span class="glyphicon glyphicon-hand-right"></span><a href="https://pdfbooksandnotes.wordpress.com/2016/12/29/network-analysis-and-synthesis-by-m-e-van-valkenburg-pdf/">Circuit Analysis And Synthesis  (Van Valkenburg)</a>
<br><br>
<span class="glyphicon glyphicon-hand-right"></span><a href="http://faculty.uml.edu/Dimitris_Christodoulou/Teaching/documents/DEs__R_Bronson.pdf">Mathematics 1</a>
<br><br>
<span class="glyphicon glyphicon-hand-right"></span><a href="http://site.iugaza.edu.ps/aauda/files/Electronic-Devices-and-Circuit-Theory-Robert-Boylestad-Louis-Nashelsky-7th-Edition.pdf">Electronic Devices and Circuit Theory</a>
<br><br>
<span class="glyphicon glyphicon-hand-right"></span><a href="https://www.computer-pdf.com/programming/802-tutorial-python-tutorial.html">Introduction To Programming</a>
<br><br>
<span class="glyphicon glyphicon-hand-right"></span><a href="http://www.wellcomedbt.org/r_c_sharma_and_krishna_mohan_business_correspondence_report_writing.pdf">Language And Communication Skill</a>
<br><br>

</div>
</body>
</html>