<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<style>
pre
{
  font-family:Lato;
  font-size:45px;
  color:darkred;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
.lin
{
  font-size: 25px;
}
</style>
</head>
<body>

<b><pre>SEMESTER 2     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTKKzOlnRQ0ngS_ngpEOdgL4HRgDacOOWhScBIx2J2qEWu59msf" height="75" width="100"></pre></b>

<div class="lin">
  <span class="glyphicon glyphicon-hand-right"></span><a href="<span class="glyphicon glyphicon-hand-right"></span><a href="https://it.iiita.ac.in/pdf/btech-cc-and-syl.pdf">Syllabus</a>
<br><br>
<span class="glyphicon glyphicon-hand-right"></span><a href="http://www.pondiuni.edu.in/storage/dde/downloads/h1010.pdf">Principle Of Management And Economics</a>
<br><br>
<span class="glyphicon glyphicon-hand-right"></span><a href="http://ac.aua.am/arm/public/2017-Spring-Computer-Organization/Textbooks/ComputerOrganizationAndDesign5thEdition2014.pdf">Computer Organization And Architecture</a>
<br><br>
<span class="glyphicon glyphicon-hand-right"></span><a href="http://assets.vmou.ac.in/MCA09.pdf">Discrete Mathematics and Mathematical Logic</a>
<br><br>
<span class="glyphicon glyphicon-hand-right"></span><a href="https://dlscrib.com/data-structures-using-c-aaron-m-tenenbaum_5887f7576454a71d4c35c293_pdf.html">Data Structure</a>
<br><br>
<span class="glyphicon glyphicon-hand-right"></span><a href="https://soaneemrana.org/onewebmedia/ADVANCED%20ENGINEERING%20MATHEMATICS%20BY%20ERWIN%20ERESZIG1.pdf">Mathematics II</a>
<br><br>
<span class="glyphicon glyphicon-hand-right"></span><a href="https://www.scribd.com/document/337615319/Digital-Design-5th-Edition-Mano-Solution-Manual-pdf">Digital Electronics</a>
<br><br>

</div>
</body>
</html>