<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<style>
pre
{
  font-family:Lato;
  font-size:45px;
  color:darkred;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
.lin
{
  font-size: 25px;
}
</style>
</head>
<body>

<b><pre>SEMESTER 3    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTKKzOlnRQ0ngS_ngpEOdgL4HRgDacOOWhScBIx2J2qEWu59msf" height="75" width="100"></pre></b>

<div class="lin">
  <span class="glyphicon glyphicon-hand-right"></span><a href="<span class="glyphicon glyphicon-hand-right"></span><a href="https://it.iiita.ac.in/pdf/btech-cc-and-syl.pdf">Syllabus</a>
<br><br>
<span class="glyphicon glyphicon-hand-right"></span><a href="http://www.math.s.chiba-u.ac.jp/~yasuda/ippansug/CV-bookfi.pdf">Mathematics III</a>
<br><br>
<span class="glyphicon glyphicon-hand-right"></span><a href="http://barnoor51.owl.zeejem.pw/gSTuef14fkVwH/">Microprocessors</a>
<br><br>
<span class="glyphicon glyphicon-hand-right"></span><a href="http://stst.elia.pub.ro/news/SO/Modern%20Operating%20System%20-%20Tanenbaum.pdf">Operating System</a>
<br><br>
<span class="glyphicon glyphicon-hand-right"></span><a href="http://www.bioinfo.org.cn/~wangchao/maa/Introduction_to_the_theory_of_computation.pdf">Theory Of Computation</a>
<br><br>
<span class="glyphicon glyphicon-hand-right"></span><a href="https://www.academia.edu/20978816/Objects_first_with_Java_A_practical_introduction_using_BlueJ">Object Oriented Methodologies</a>
<br><br>
<span class="glyphicon glyphicon-hand-right"></span><a href="http://164.100.133.129:81/econtent/Uploads/Principles_of_Management.pdf">Principle Of Management</a>
<br><br>

</div>
</body>
</html>