<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<style>
pre
{
  font-family:Lato;
  font-size:45px;
  color:darkred;
}
.lin
{
  font-size: 25px;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
</style>
</head>
<body>

<b><pre>SEMESTER 4  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTKKzOlnRQ0ngS_ngpEOdgL4HRgDacOOWhScBIx2J2qEWu59msf" height="75" width="100">
 </pre></b>
<div class="lin">
  <span class="glyphicon glyphicon-hand-right"></span><a href="<span class="glyphicon glyphicon-hand-right"></span><a href="https://it.iiita.ac.in/pdf/btech-cc-and-syl.pdf">Syllabus</a>
<br><br>
<span class="glyphicon glyphicon-hand-right"></span><a href="https://fac.ksu.edu.sa/sites/default/files/introduction-to-probability-model-s.ross-math-cs.blog_.ir_.pdf">Probability and Statistics</a>
<br><br>
<span class="glyphicon glyphicon-hand-right"></span><a href="https://www.academia.edu/5829628/Carlson_-_Communication_Systems_4th_edition_-_Mc_Graw_Hill_">Digital Communication</a>
<br><br>
<span class="glyphicon glyphicon-hand-right"></span><a href="http://dsp-book.narod.ru/Algorithms.pdf">Design And Analysis Of Algorithms</a>
<br><br>
<span class="glyphicon glyphicon-hand-right"></span><a href="https://www.semanticscholar.org/paper/Concepts-of-Programming-Languages-Sebesta/1feb687998d802a1c203e3a91f98521baeb92c39">Principles Of Programming Language</a>
<br><br>
<span class="glyphicon glyphicon-hand-right"></span><a href="https://www.academia.edu/8228320/Ramakrishnan_Raghu_-_Database_Management_Systems_PDF">Database Manegement System</a>
<br><br>


</div>
</body>
</html>