<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<style>
pre
{
  font-family:Lato;
  font-size:45px;
  color:darkred;
}
.lin
{
  font-size: 25px;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
</style>
</head>
<body>

<b><pre>SEMESTER 5     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTKKzOlnRQ0ngS_ngpEOdgL4HRgDacOOWhScBIx2J2qEWu59msf" height="75" width="100"></pre></b>

<div class="lin">
  <span class="glyphicon glyphicon-hand-right"></span><a href="<span class="glyphicon glyphicon-hand-right"></span><a href="https://it.iiita.ac.in/pdf/btech-cc-and-syl.pdf">Syllabus</a>
<br><br>
<span class="glyphicon glyphicon-hand-right"></span><a href="https://www.academia.edu/25090856/Computer_Networks_5th_Edition_Andrew_S_Tanenbaum_David_J_Wetherall">Computer Network    (Tanenbaum)</a>
<br><br>
<span class="glyphicon glyphicon-hand-right"></span><a href="https://www.academia.edu/31758087/FIFTH_EDITION_Data_Communications_AND_Networking">Computer Network    (Forouzan)</a>
<br><br>
<span class="glyphicon glyphicon-hand-right"></span><a href="http://dinus.ac.id/repository/docs/ajar/RPL-7th_ed_software_engineering_a_practitioners_approach_by_roger_s._pressman_.pdf">Software Engineering(Pressman)</a>
<br><br>
<span class="glyphicon glyphicon-hand-right"></span><a href="https://edisciplinas.usp.br/mod/resource/view.php?id=1094198">Software Engineering(Somerville)</a>
<br><br>
<span class="glyphicon glyphicon-hand-right"></span><a href="http://asset-4.soup.io/asset/10448/0343_4697.pdf">Graphics And Visual Computing(Hearn & Baker)</a>
<br><br>
<span class="glyphicon glyphicon-hand-right"></span><a href="https://teaching.up.edu/Ecn121/Principles_of_Economics.pdf">Principle Of Economics</a>
<br><br>
<span class="glyphicon glyphicon-hand-right"></span><a href="https://readyforai.com/download/artificial-intelligence-a-modern-approach-3rd-edition/">Artificial Intelligence(Peter Norvig)</a>
</div>
</body>
</html>